<div style="margin-bottom: -50px;"><img src="../../../assets/icon/Group 1134.png"></div>



<div class="row" style="background-color: white;">
  <div class="col-md-12" class="footer_css">
    <div class="childss"><img src="../../../assets/icon/Group 1133.png"></div>  
    <div class="childss"><img src="../../../assets/icon/Group 1130.png"> </div>  
    <div class="childss"></div>  
    <div class="childss" (click)="logout()"><img src="../../../assets/icon/Vector.png"> </div>  
    <div class="childss"><img src="../../../assets/icon/Group 1131.png"> </div>  
  </div>
</div>

