<ion-content padding class="animated fadeIn login auth-page">
  <div class="row">
    <div class="col-md-12" style="text-align: center;
    margin-top: 60px;">
      <img src="../../../assets/img/Bssapplogo.png" class="imgs">
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <p class="heading_title">Forgot Password</p> 
    </div>
   <div class="col-md-12" style="text-align: center;">
     <div class="col-md-12">
     <p class="lables_css">Enter your Mail Id</p>
     <input type="text" class="text_field_css">
   </div>
   <br>
   <div class="col-md-12" style="text-align: center;">
     <button class="primary_button">Send Password</button> 
     <br>
     <br>
     <button class="primary_button"   (click)="get_back()">Back to Login</button> 
   </div>
   </div>
   </div>
 
 
 
 </ion-content>