
<ion-content padding class="animated fadeIn login auth-page">
  <div class="row">
    <div class="col-md-12" style="text-align: center;
    margin-top: 60px;">
      <img src="../../../assets/img/Bssapplogo.png" class="imgs">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      Change Password
    </div>
   <div class="col-md-12" style="text-align: center;">
     <div class="col-md-12">
     <p class="lables_css">Old Password</p>
     <input type="password" class="text_field_css">
   </div>
   <div class="col-md-12">
     <p class="lables_css">New Password</p>
     <input type="password" class="text_field_css">
    </div>
     <button class="primary_button">Change Password</button>
      <button class="primary_button">Back</button>
   </div>
   </div>
 </ion-content>