<ion-menu-button color="secondary" style="padding-top: 20px;
padding-left: 10px;background: white;"></ion-menu-button>
<ion-content>
<ion-content>
  <div class="col-md-12" style="text-align : center; margin-top: 20px;">
    <button  class="primary_button" style="width: 80% !important;">UNIT DETAIL</button>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:left; margin-top: 10px;">
      <div style="text-align:center;">
        <img src="../../../../../assets/img/avatar.jpeg" style="border-radius: 50%;">
      </div>
      <p class="lable_one" style="padding-left: 18px;">BSS NO : <span style="font-weight: 400;">25689</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Name : <span style="font-weight: 400;">Mohammed Imthiyas</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Cat : <span style="font-weight: 400;">Security Guard (SG)</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Posting Date : <span style="font-weight: 400;">10-10-2022</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Address : <span style="font-weight: 400;">12, muthamil nager Kodugaiyur, chennai - 118</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Mobile : <span style="font-weight: 400;">+91 9876543210</span> </p>
      <p class="lable_one" style="padding-left: 18px;">Email Id : <span style="font-weight: 400;">mohammedimthi2395@gmail.com</span> </p>
      </div>
  </div>

  <br>
  <br>
  <div class="col-md-12 table_wrapper">
    <table id="customers">
      <tr>
        <th rowspan="2">Date</th>
        <th colspan="3" >SHIFT</th>
        <th rowspan="2">RKS</th>
      </tr>
      <tr>
        <th>I</th>
        <th>II</th>
        <th>III</th>
      </tr>
      <tr>
        <td>07/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>p</td>
        <td></td>
      </tr>
      <tr>
        <td>08/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>-</td>
        <td></td>
      </tr>
       <tr>
        <td>09/05/22</td>
        <td>-</td>
        <td>-</td>
        <td>p</td>
        <td></td>
      </tr>
      <tr>
        <td>10/05/22</td>
        <td></td>
        <td>p</td>
        <td>p</td>
        <td></td>
      </tr>
      <tr>
        <td>11/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>-</td>
        <td></td>
      </tr>
      <tr>
        <td>12/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>p</td>
        <td></td>
      </tr>
      <tr>
        <td>13/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>p</td>
        <td></td>
      </tr>
      <tr>
        <td>14/05/22</td>
        <td>P</td>
        <td>-</td>
        <td>p</td>
        <td></td>
      </tr>
    </table> 
  </div>
  <div class="col-md-12" style="text-align : center; margin-top: 20px;">
    <button  class="primary_button" style="width: 80% !important;" (click)="new_fo_monthlyview_redir()">MONTHLY VIEW</button>
  </div>
  <br>
  <br>
</ion-content>
<app-footer></app-footer>

