<ion-menu-button color="secondary" style="padding-top: 20px;
padding-left: 10px;background: white;"></ion-menu-button>
<ion-content>
<div class="row">
  <div class="col-md-12" style="text-align : center; margin-top: 20px;">
    <button  class="primary_button" style="width: 80% !important;">UNIT DETAILS</button>
  </div>

  <!-- /////// Attendance Mark Process ///////  -->
    <!-- /////// Attendance Mark Process ///////  -->
    <div class="col-md-12" style="text-align : center; margin-top: 10px;">
    <p class="lable_one">Mohammed Imthiyas (FO)</p>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 10px;">
      <p class="lable_one">E-23456</p>
    </div>
    <div class="col-md-12" style="text-align:center;padding: 20px;">
        <div class="card childs" style="background-color:#3880ff;" (click)="view_attendance()">
        <p style="margin-top: 40px !important;">BSS</p>
        </div>
        <div class="card childs"  style="background-color:#dc6b2f;" (click)="view_attendance()">
          <p style="margin-top: 40px !important;">Johnson</p>
        </div>
        <div class="card childs" style="background-color:#9c27b0;" (click)="view_attendance()">
          <p style="margin-top: 40px !important;">WIBRO</p>
        </div>
        <div class="card childs" style="background-color:#9c27b0;" (click)="view_attendance()">
          <p style="margin-top: 40px !important;">WIBRO</p>
        </div>
        <div class="card childs" style="background-color:#9c27b0;" (click)="view_attendance()">
          <p style="margin-top: 40px !important;">WIBRO</p>
        </div>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 20px;">
          <p class="lables" style="text-align:center" >Total : 12 Unit</p>
    </div>
</div>
<div class="col-md-12" style="text-align : center; margin-top: 20px;">
  <button  class="primary_button" style="width: 80% !important;" (click)="back_redirec()">BACK</button>
</div>


</ion-content>
<app-footer></app-footer>











  