<ion-menu-button color="secondary" style="padding-top: 20px;
padding-left: 10px;background: white;"></ion-menu-button>
<ion-content>
<div class="row">
  <!-- /////// Attendance Mark Process ///////  -->
    <div class="col-md-12" style="text-align: center;margin-top: 20px;">
      <img  style="width: 25%;" src="../../../assets/img/Bssapplogo.png" class="imgs">
    </div>
   <div class="col-md-12" style="text-align : center; margin-top: 10px;">
    <button *ngIf="!show_present" class="primary_button" style="width: 80% !important;" (click)="markaspresent_show()">Mark As Present</button>
    <i *ngIf="show_present" class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 70px;
    color: darkgreen;"></i>
    <p style="font-size: 14px;font-weight: 500;padding: 10px;" *ngIf="show_present">Your have marked present today</p>
   </div>
  <div class="popup_alert"  *ngIf="popup">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to mark as present ?</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="child"><button class="cancel_button" (click)="mark_as_cancel()">Canel</button></div>  
              <div class="child"><button class="confirm_button" (click)="markaspresent_mark()">Confirm</button></div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /////// Attendance Mark Process ///////  -->
    <div class="col-md-12" style="text-align : center; margin-top: 10px;">
    <p class="lable_one">{{employee_detail.name}} ({{employee_detail.user_designation}})</p>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 10px;">
      <p class="lable_one">{{employee_detail.bss_no}}</p>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 20px;">
      <button  class="primary_button" style="width: 80% !important;" (click)="new_fo_dailysummary_redir()">DAILY SUMMARY</button>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 20px;">
      <button  class="primary_button" style="width: 80% !important;" (click)="new_fo_temp_transfer()">TEMP TRANSFER</button>
    </div>
    <div class="col-md-12" style="text-align : center; margin-top: 20px;">
      <button class="primary_button" style="width: 80% !important;" (click)="new_fo_unitview()">VIEW UNITS</button>
    </div>
</div>
</ion-content>
<app-footer></app-footer>











  