:host {
    // ion-content {
    //     --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    // }
}

.paz {
    position: relative;
    z-index: 10;
}


.example1 {
    background: url('../../../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.shadows {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 70px;
    border-radius: 15px;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column10 {
    float: left;
    width: 5%;
  }

  .column20 {
    float: left;
    width: 20%;
  }


  .column70 {
    float: left;
    width: 70%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .container {
    height: 70px;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: white;
}
  

  
